<div class="content">
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}

    <div class="row">
        <div class="col-sm-4 offset-sm-4 text-center">
            <h1 class="display-3">Create Account</h1>
            <div>
                <form class="form-inline justify-content-center" action="/accounts/create" method="POST">
                    <!--<input type="hidden" name="_csrf" value="{{csrfToken}}"> -->

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="username" value="{{userName}}">
                        <label class="form-label">Username</label>
                        <p class="text-start text-danger">{{usernameErrors}}</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="password" value="{{password}}">
                        <label class="form-label">Password</label>
                        <p class="text-start text-danger">{{passwordErrors}}</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="repeatPassword" value="{{repeatPassword}}">
                        <label class="form-label">Repeat Password</label>
                        <p class="text-start text-danger">{{passwordErrors}}</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="firstName" value="{{firstName}}">
                        <label class="form-label">Firstname</label>
                        <p class="text-start text-danger">{{firstNameErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="lastName" value="{{lastName}}">
                        <label class="form-label">Lastname</label>
                        <p class="text-start text-danger">{{lastNameErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="email" value="{{email}}">
                        <label class="form-label">Email</label>
                        <p class="text-start text-danger">{{emailErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="phonenumber" value="{{phoneNumber}}">
                        <label class="form-label">Phonenumber</label>
                        <p class="text-start text-danger">{{phoneNumberErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="city" value="{{city}}">
                        <label class="form-label">City</label>
                        <p class="text-start text-danger">{{cityErrors}}</p>
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="Create">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>