<!-- Lägg till
1. Lägg till alla nödvändiga forms
2. En "like" button för annonsen (Vart IDk?)
3. bilder kan vara olika storlekar fixa det
-->

{{#if errors.length}}
<p>Oh no, something went wrong:</p>
<ul>
	{{#each errors}}
	<li>{{this}}</li>
	{{/each}}
</ul>
{{else}}

{{#if Ad}}

<div class="container p-0 m-0" style="max-width: 100%;">

	<div class="row">
		<div class="col-6 text-center">
			<h3>{{Ad.title}}</h3>
			<h5>{{Ad.latinName}}</h5>
		</div>

		<div class="col-auto"></div>
	</div>


	<div class="col-12">
		<!-- bidModal -->
		<!-- When logged in -->
		{{#if session.isLoggedIn}}

		<div class="modal fade" id="bidModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Place a bid on "{{Ad.title}}"</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<form action="/bids/placeBid" method="POST" encType="multipart/form-data">
						<div class="modal-body">

							<input type="hidden" name="adID" value="{{Ad.id}}">

							<input type="hidden" name="_csrf" value="{{csrfToken}}">

							<div class="mb-0">
								<label class="form-label"></label>
								<textarea class="form-control" rows="3" name="message"
									placeholder="message to seller"></textarea>
							</div>

							<div class="mb-0 mt-4">
								<label class="form-label">Upload image</label>
								<input type="file" name="bidImagePath">
							</div>

						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-outline-dark">confirm</button>
						</div>
					</form>

				</div>
			</div>
		</div>



		<!-- When not logged in -->
		{{else}}

		<div class="modal fade" id="bidModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Not logged in!</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<form action="/accounts/sign-in" method="POST">
						<div class="modal-body">

							<input type="hidden" name="_csrf" value="{{csrfToken}}">

							<div class="mb-0">
								<label class="form-label"></label>
								<input class="form-control" type="text" name="username" placeholder="username*">
							</div>

							<div class="mb-0">
								<label class="form-label"></label>
								<input class="form-control" type="password" name="password" placeholder="password*">
							</div>

						</div>

						<div class="modal-footer">
							<button type="submit" value="Sign in" class="btn btn-outline-dark">Sign in</button>
						</div>
					</form>

				</div>
			</div>
		</div>
		{{/if}}
		<!-- /bidModal -->
	</div>


	<!-- ImageBundle slides -->
	<div class="row">
		<div class="col-6">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
						class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
				</div>
				{{#Ad}}
				<div class="carousel-inner">
					<!-- Ska man kunna öppna bilderna för att se dem bättre? Ha en gemensam länk för alla som öppnar dem i full-screen-->
					<div class="carousel-item active">
						<img class="d-block w-100 image-hight" src="/images/{{ImageBundle.coverImagePath}}"
							class="d-block w-100" alt="coverImage">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 image-hight" src="/images/{{ImageBundle.firstImagePath}}"
							class="d-block w-100" alt="firstImage">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100 image-hight" src="/images/{{ImageBundle.secondImagePath}}"
							class="d-block w-100" alt="secondImage">
					</div>
				</div>
				{{/Ad}}
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>

				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>

			</div>
		</div>

		<div class="col-6">
			<p>{{Ad.description}}</p>
		</div>

	</div>
	<!-- /ImageBundle slides -->

	<!-- Button trigger modals -->
	<div class="row justify-content-end">

		<div class="col-2">
			<div class="d-grid gap-2">
				<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#bidModal">
					Place a bid
				</button>
			</div>
		</div>

	</div>
	<!---->
</div>


{{else}}
<div class="col-12 text-center">
	<p>No, that ad doesn't exist here.</p>
</div>
{{/if}}

{{/if}}
</div>
