<h1>Create Ad</h1>

<!-- Lägg till
1. Fields för att skapa en ad
2. LAdda upp bilder, fyra knappar totalt 
3. Create Ad knapp som skapar ad

-->
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
            <h1 class="display-3">Create Ad</h1>
            <div>
                <form class="form-inline justify-content-center" action="/ads/adCreate" method="POST"
                    encType="multipart/form-data">
                    <!--<input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="title" value="{{Ad.title}}">
                        <label class="form-label">Title</label>
                        <p class="text-start text-danger">{{titleErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="latinname" value="{{Ad.latinName}}">
                        <label class="form-label">Latin name</label>
                        <p class="text-start text-danger">{{latinNameErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="description" value="{{Ad.description}}">
                        <label class="form-label">Description</label>
                        <p class="text-start text-danger">{{descriptionErrors}}</p>
                    </div>

                    <p class="text-start text-danger">{{imageErrors}}</p>
                    <div class="mb-3">
                        <b>Upload cover image:</b>
                        <input type="file" name="coverImageFile">

                    </div>
                    <div class="mb-3">
                        <b>Upload image:</b>
                        <input type="file" name="firstImageFile">
                    </div>
                    <div class="mb-3">
                        <b>Upload image:</b>
                        <input type="file" name="secondImageFile">
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-primary btn" type="submit" value="Create">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>