<div class="container">

    {{#if errors.length}}
    <p>Oh no, something went wrong:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{else}}

    {{#if Ad}}

    <div class="col-12 text-center align-middle mt-5">
        <h5>Are you sure you want to delete the ad <b>"{{Ad.title}}"</b>? </h5>

        <div class="row justify-content-center">
            <div class="col-auto">
                <form action="/ads/adDelete/{{Ad.id}}/delete" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input class="btn btn-outline-danger" type="submit" value="Yes">

                </form>
            </div>
            <div class="col-auto">
                <a href="/my-account/ads"> <button type="submit" class="btn btn-outline-dark">No</button></a>
            </div>
        </div>
    </div>

    {{else}}
    <p>No, that user doesn't exist here.</p>
    {{/if}}

    {{/if}}
</div>