<!-- Searchbar -->
<div class="row justify-content-center m-5">
	<div class="col-auto"></div>

	<div class="col-7">
		<div class="row justify-content-center">
			<form class="w-100" action="/ads/search" method="POST">
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<input style="background-image: ;" type="text" class="form-control" placeholder="search ads"
					aria-describedby="basic-addon1" name="searchInput">
			</form>
		</div>
	</div>

	<div class="col-auto"></div>
</div>

<!-- Get all ads -->
{{#if errors.length}}
<div class="col-12 text-center my-5">
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
</div>

{{else}}
{{#if Ad.length}}

<div class="row align-items-center">
	{{#each Ad}}

	<div id="ad-clickable" class="col-3 text-center my-4">
		<p></p>
		<h3><a class="link-dark" href="/ads/{{id}}">{{title}}</a></h3>

		<a href="/ads/{{id}}">
			<img class="img-thumbnail" src="/images/{{ImageBundle.coverImageName}}">
		</a>

		<p></p>
	</div>

	{{/each}}
</div>


{{else}}
<div class="col-12 text-center">
	<p>No ads available.</p>
</div>
{{/if}}
{{/if}}