<!-- Lägg till
1. Filter options, öppnade med pop up eller offcanvas?
-->

<div class="container p-0 m-0" style="max-width: 100%;">

	<!-- Manipulate ads shown -->
	<div class="row justify-content-center m-5">
		<div class="col-auto"></div>
		<div class="col-7">
			<div class="row justify-content-center">

				<div class="col-10">
					<form class="w-100" action="/ads/search" method="POST">
						<input style="background-image: ;" type="text" class="form-control" placeholder="search ads"
							aria-describedby="basic-addon1" name="searchInput">
					</form>
				</div>

				<div class="col-2">
					<button type="button" class="btn btn-light"><i class="bi bi-filter-left"></i>
						Filter</button>
				</div>

			</div>
		</div>
		<div class="col-auto"></div>
	</div>


	<!-- All ads -->
	{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>

	{{else}}
	{{#if Ad.length}}

	<div class="row align-items-center">
		{{#each Ad}}

		<div class="col-3 text-center">

			<h3><a href="/ads/{{adID}}">{{title}}</a></h3>

			<a href="/ads/{{adID}}">
				<img class="img-thumbnail" src="/images/{{coverImagePath}}" alt="{{imageBundleID}}" class="flowerImage">
			</a>

		</div>

		{{/each}}
	</div>


	{{else}}
	<div class="col-12 text-center">
		<p>No ads available.</p>
	</div>
	{{/if}}
	{{/if}}

</div>