<div class="container">

    {{#if errors.length}}
    <p>Oh no, something went wrong:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{else}}

    {{#if Ad}}

    <div class="row">
        <div class="col-sm-4 offset-sm-4 text-center">
            <h1 class="display-3">Update Data</h1>
        </div>
        <div>
            <form class="form-inline justify-content-center" action="/ads/ad-details/{{Ad.id}}/update" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <div class="col-sm-4 offset-sm-4 text-center">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="title" value="{{Ad.title}}">
                        <label class="form-label">Title</label>
                        <p class="text-start text-danger">{{titleErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="latinname" value="{{Ad.latinName}}">
                        <label class="form-label">Latin name</label>
                        <p class="text-start text-danger">{{latinNameErrors}}</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="description" value="{{Ad.description}}">
                        <label class="form-label">Description</label>
                        <p class="text-start text-danger">{{descriptionErrors}}</p>
                    </div>
                </div>
                {{#Ad}}
                <div class="row offset-sm-2">
                    <div class="col-3 ms-3">
                        <img class="img-thumbnail" src="/images/{{ImageBundle.coverImagePath}}"
                            alt="{{ad.imageBundleID}}" name="coverimagepath" class="flowerImage"
                            style="width: 300px; height: 300px">
                    </div>
                    <div class="col-3">
                        <img class="img-thumbnail" src="/images/{{ImageBundle.firstImagePath}}"
                            alt="{{ad.imageBundleID}}" name="firstimagepath" class="flowerImage"
                            style="width: 300px; height: 300px">
                    </div>
                    <div class="col-3">
                        <img class="img-thumbnail" src="/images/{{ImageBundle.secondImagePath}}"
                            alt="{{ad.imageBundleID}}" name="secondimagepath" class="flowerImage"
                            style="width: 300px; height: 300px">
                    </div>
                </div>
                {{/Ad}}
                <div class="mb-3 mt-3 col-sm-4 offset-sm-4 text-center">
                    <button type="submit" class="btn btn-outline-dark">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>

{{else}}
<p>No, that ad does not exist here.</p>
{{/if}}

{{/if}}
</div>