

<!-- Lägg till
1. Fields för att skapa en ad
2. LAdda upp bilder, fyra knappar totalt 
3. Update knapp som uppadterar ad

-->
<div class="container">

    {{#if errors.length}}
    <p>Oh no, something went wrong:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{else}}

    {{#if ad}}

    <div class="row">
        <div class="col-sm-4 offset-sm-4 text-center">
            <h1 class="display-3">Update Data</h1>
            <div>
                <form class="form-inline justify-content-center" action="/ads/adUpdate/{{ad.adID}}/update"
                    method="POST">
                    <!--<input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="title" value="{{ad.title}}">
                        <label class="form-label">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="latinname" value="{{ad.latinName}}">
                        <label class="form-label">Latin name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="description" value="{{ad.description}}">
                        <label class="form-label">Description</label>
                    </div>
                    <div>
                  
                       <img class="img-thumbnail" src="/images/{{ad.coverImagePath}}" alt="{{ad.imageBundleID}}" name="coverimagepath" class="flowerImage"
							style="width: 300px; height: 300px">  
                        <img class="img-thumbnail" src="/images/{{ad.firstImagePath}}" alt="{{ad.imageBundleID}}" name="firstimagepath" class="flowerImage"
							style="width: 300px; height: 300px">
                        <img class="img-thumbnail" src="/images/{{ad.secondImagePath}}" alt="{{ad.imageBundleID}}" name="secondimagepath" class="flowerImage"
							style="width: 300px; height: 300px">
                  
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    {{else}}
    <p>No, that user doesn't exist here.</p>
    {{/if}}

    {{/if}}
</div>