<div class="content">
<h1>Ad</h1>

{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{else}}
	
	{{#if adAccepted}}
	<h2>Accepted</h2>
	{{#each adAccepted}}
	
	<p>-------------------------------------------------------------------------------------------------------</p>
        <ul>		
			<dt>Title:</dt>
			<dd>{{title}}</dd>

			 <li><img src="{{coverImagePath}}" alt="{{imageBundleID}}" class="flowerImage" style="width: 300px; height: 300px"></li>

		  <p>------------------------------------------------------------------------------------------------</p>

			<dt>BidDate:</dt>
			<dd>{{date}}</dd>

			<dt>BidImagePath:</dt>
			<dd>{{imagePath}}</dd>

			<dt>BidMessage:</dt>
			<dd>{{message}}</dd>

			<dt>BidStatus:</dt>
			<dd>{{status}}</dd>

			<dt>User Firstnmame:</dt>
			<dd>{{firstName}}</dd>

			<dt>User Lastnmame:</dt>
			<dd>{{lastName}}</dd>

			<dt>User Email:</dt>
			<dd>{{email}}</dd>
        </ul>
          <p>-------------------------------------------------------------------------------------------------------</p>
      
	{{/each}}
	<h2>Pending</h2>
	{{#each adPending}}
	
	<p>-------------------------------------------------------------------------------------------------------</p>
        <ul>		
			<dt>Title:</dt>
			<dd>{{title}}</dd>

			 <li><img src="{{coverImagePath}}" alt="{{imageBundleID}}" class="flowerImage" style="width: 300px; height: 300px"></li>
       
<p>-------------------------------------------------------------------------------------------------------</p>
			<dt>BidDate:</dt>
			<dd>{{date}}</dd>

			<dt>BidImagePath:</dt>
			<dd>{{imagePath}}</dd>

			<dt>BidMessage:</dt>
			<dd>{{message}}</dd>

			<dt>BidStatus:</dt>
			<dd>{{status}}</dd>

			<dt>User Firstnmame:</dt>
			<dd>{{firstName}}</dd>

			<dt>User Lastnmame:</dt>
			<dd>{{lastName}}</dd>

			<dt>User Email:</dt>
			<dd>{{email}}</dd>
        </ul>
         <p>-------------------------------------------------------------------------------------------------------</p>
      
	{{/each}}
	<h2>Declined</h2>
	{{#each adDeclined}}
	
	<p>-------------------------------------------------------------------------------------------------------</p>
        <ul>		
			<dt>Title:</dt>
			<dd>{{title}}</dd>

			 <li><img src="{{coverImagePath}}" alt="{{imageBundleID}}" class="flowerImage" style="width: 300px; height: 300px"></li>
        </ul>

         <!-- --------Bidtable rows------->

        <h2>Bid</h2>
		  <p>------------------------------------------------------------------------------------------------</p>
    
        <ul>

			<dt>BidDate:</dt>
			<dd>{{date}}</dd>

			<dt>BidImagePath:</dt>
			<dd>{{imagePath}}</dd>

			<dt>BidMessage:</dt>
			<dd>{{message}}</dd>

			<dt>BidStatus:</dt>
			<dd>{{status}}</dd>

			<dt>User Firstnmame:</dt>
			<dd>{{firstName}}</dd>

			<dt>User Lastnmame:</dt>
			<dd>{{lastName}}</dd>

			<dt>User Email:</dt>
			<dd>{{email}}</dd>
        </ul>
          <p>----------------------------------------------------------------------------------------------</p>
      
	{{/each}}
	{{else}}
		<p>No, that ad doesn't exist here.</p>
	{{/if}}
	
{{/if}}
</div>