<head>
	<style>
		section {
			background-color: lightcoral;
			border-radius: 15px;
			padding: 15px;
			margin: 5px;
		}

		section h1 {
			margin-top: 0;
		}

		.hidden {
			display: none;
		}
	</style>
	<script>
		// Write your JavaScript code here.

		document.addEventListener("DOMContentLoaded", function (event) {

			const div = document.querySelector("div")
			const sections = document.querySelectorAll("section")

			for (i = 0; i < sections.length; i += 1) { // hide all forms
				sections[i].classList.add("hidden")
			}

			//create select & options
			select = document.getElementById("myAdsSelection")



			select.addEventListener("click", function () {

				for (i = 0; i < sections.length; i += 1) { // hide all forms
					sections[i].classList.add("hidden")
				}

				option = select.options[select.selectedIndex].innerText

				createAccount = sections[0]
				signIn = sections[1]
				subscribe = sections[2]

				if (option == "manage ads") {
					createAccount.classList.toggle("hidden")
				}

				if (option == "my ad offers") {
					signIn.classList.toggle("hidden")
				}

				if (option == "closed ads") {
					subscribe.classList.toggle("hidden")
				}
			})
		})

	</script>
</head>



<div class="container p-0 m-0" style="max-width: 100%;">

	<div class="row justify-content-center">
		<div class="col-auto"></div>
		<div class="col-3">

			<select id="myAdsSelection" class="form-select mb-3">
				<option selected>Choose</option>
				<option>manage ads</option>
				<option>my ad offers</option>
				<option>closed ads</option>
			</select>

		</div>
		<div class="col-auto"></div>
	</div>







	<div class="row">
		<div class="col-12" id="sections">


			<section id="manageAds">

				<div class="row justify-content-center">
					<div class="col-auto"></div>
					<div class="col-3 text-center d-grid gap-2">

						<button type="button" class="btn btn-light">Light</button>

					</div>
					<div class="col-auto"></div>
				</div>



				<div class="col-12">

					<div class="row justify-content-start">
						<div class="col-auto"></div>
						<div class="col-3 text-center d-grid gap-2">

							<h1>My Ads</h1>

						</div>
						<div class="col-auto"></div>
					</div>


					{{#if errors.length}}
					<p class="text-center">Oh no, something went wrong:</p>

					<ul>
						{{#each errors}}
						<li>{{this}}</li>
						{{/each}}
					</ul>

					{{else}}
					{{#if ad}}

					<div class="row justify-content-start align-items-center">
						{{#each ad}}

						<!-- number will be replaced with sessionID {{sessionID}} 
							<a href="/ads/myAds/1">Ad offers</a>-->


						<div class="col-3 text-center">

							<div class="col-12">
								<h3>{{title}}</h3>

							</div>

							<div class="col-12">
								<img class="img-thumbnail" src="{{coverImagePath}}" alt="{{imageBundleID}}"
									class="flowerImage" style="width: 300px; height: 300px">
							</div>

							<div class="col-12">
								<button type="button" class="btn btn-light">Light</button>
								<button type="button" class="btn btn-light">Light</button>
							</div>

						</div>

						{{/each}}
					</div>

					{{else}}
					<div class="col-12 text-center">
						<p>No, your ads doesn't exist.</p>
					</div>
					{{/if}}
					{{/if}}

				</div>

			</section>





			<section id="myAdOffers">

				<div class="row justify-content-start">
					<div class="col-auto"></div>
					<div class="col-3 text-center d-grid gap-2">

						<h1>My ad offers</h1>

					</div>
					<div class="col-auto"></div>
				</div>


















			</section>






			<section>
			</section>

		</div>






	</div>


</div>


























<!-- Lägg till
1.Tabs mellan olika contents

 Closed Ads
 1. Fin lista av ads (med title och bild) som man kan klicka på och se


 Ad Offers
 1. -Accepted Offers lista som innerhåller; Titel, "show offer" (öppna listan) där man kan se offer och vem som lagt den
 1. -Accepted Offers lista som innerhåller; Titel, "show offer" (öppna listan) där man kan se offer och vem som lagt den.
    -Accept offer och Decline offer knapp
 
 Manage Ads
 1. Fin lista av adds
 2. Create ad knapp 
 3. Update knapp
 4. Delete Knapp
-->