<div class="content">
<h1>Ad</h1>

{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{else}}
	
	{{#if ad}}
        <ul>		
			<dt>Title:</dt>
			<dd>{{ad.title}}</dd>

            <dt>UserID:</dt>
			<dd>{{ad.userID}}</dd>

			<dt>LatinName:</dt>
			<dd>{{ad.latinName}}</dd>

			<dt>description:</dt>
			<dd>{{ad.description}}</dd>

			<dt>isClosed:</dt>
           
			<dd>{{ad.isClosed}}</dd>

			 <li><img src="{{ad.coverImagePath}}" alt="{{imageBundleID}}" class="flowerImage" style="width: 300px; height: 300px"></li>
			  <li><img src="{{ad.firstImagePath}}" alt="{{imageBundleID}}" class="flowerImage" style="width: 300px; height: 300px"></li>
			   <li><img src="{{ad.secondImagePath}}" alt="{{imageBundleID}}" class="flowerImage" style="width: 300px; height: 300px"></li>
        </ul>

         <!-- --------Bidtable rows------->

        <h2>Bids</h2>
		  <p>------------------------------------------------------------------------------------------------</p>
    {{#each bids}}
        <ul>
	   	    <dt>BidUserID:</dt>
			<dd>{{userID}}</dd>

			<dt>BidAdID:</dt>
			<dd>{{adID}}</dd>

			<dt>BidDate:</dt>
			<dd>{{date}}</dd>

			<dt>BidImagePath:</dt>
			<dd>{{imagePath}}</dd>

			<dt>BidMessage:</dt>
			<dd>{{message}}</dd>
        </ul>
          <p>----------------------------------------------------------------------------------------------</p>
      	{{/each}}
		
	{{else}}
		<p>No, that ad doesn't exist here.</p>
	{{/if}}
	
{{/if}}
</div>