<div class="container p-0 m-0" style="max-width: 100%;">

	<!-- tab navigation -->
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">

			<button class="nav-link active" id="nav-pending-bids-tab" data-bs-toggle="tab"
				data-bs-target="#nav-pending-bids" type="button" role="tab" aria-controls="nav-pending-bids"
				aria-selected="true">
				Pending
			</button>

			<button class="nav-link" id="nav-accepted-bids-tab" data-bs-toggle="tab" data-bs-target="#nav-accepted-bids"
				type="button" role="tab" aria-controls="nav-accepted-bids" aria-selected="false">
				Accepted
			</button>

			<button class="nav-link" id="nav-declined-bids-tab" data-bs-toggle="tab" data-bs-target="#nav-declined-bids"
				type="button" role="tab" aria-controls="nav-declined-bids" aria-selected="false">
				Declined
			</button>

		</div>
	</nav>

	<!-- navigation content -->
	<div class="tab-content" id="nav-tabContent">

		<!-- pending bids-->
		<div class="tab-pane fade show active" id="nav-pending-bids" role="tabpanel"
			aria-labelledby="nav-pending-bids-tab">

			{{#if errors.length}}
			<p>Oh no, something went wrong:</p>
			<ul>
				{{#each errors}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
			{{else}}

			{{#if bidPending}}
			{{#each bidPending}}

			<div class="card">
				<div class="card-body">
					<div class="row justify-content-between">

						<div id="card-element" class="col-auto text-center">
							<img class="img-card" src="/images/{{Ad.ImageBundle.coverImagePath}}">
						</div>

						<div id="card-element" class="col-6 text-start align-self-center">
							<h1>{{Ad.title}}</h1>
							<h3>{{Ad.latinName}}</h3>
							<p>Bid placed {{date}}</p>
						</div>

						<div id="card-element" class="col-auto text-center align-self-end">
							<button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
								data-bs-target="#bid{{id}}Info" aria-expanded="false" aria-controls="collapseExample">
								my offer <i class="bi bi-caret-down"></i>
							</button>
						</div>

					</div>
				</div>
			</div>


			<div class="collapse" id="bid{{id}}Info">
				<div class="card card-body">

					<div class="row">
						<div class="col-8 text-start">
							<p>{{message}}</p>
						</div>

						<div class="col-4 text-center">
							<div class="col-12">
								<img src="/images/{{imagePath}}" class="img-card">
							</div>
						</div>
					</div>

					<div class="col-12 text-center">
						<form action="/bids/{{id}}/delete" method="POST">

							<input type="hidden" name="_csrf" value="{{csrfToken}}">
							<input type="hidden" name="bidID" value="{{id}}">
							<button type="submit" class="btn btn-outline-danger">
								Delete
							</button>
						</form>
					</div>

				</div>
			</div>

			{{/each}}

			{{else}}
			<p>No, that bid doesn't exist here.</p>
			{{/if}}

			{{/if}}
		</div>



		<!-- accepted bids -->
		<div class="tab-pane fade" id="nav-accepted-bids" role="tabpanel" aria-labelledby="nav-accepted-bids-tab">

			{{#if errors.length}}
			<p>Oh no, something went wrong:</p>
			<ul>
				{{#each errors}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
			{{else}}

			{{#if bidAccepted}}
			{{#each bidAccepted}}

			<div class="card">
				<div class="card-body">
					<div class="row justify-content-between">

						<div id="card-element" class="col-auto text-center">
							<img class="img-card" src="/images/{{Ad.ImageBundle.coverImagePath}}">
						</div>

						<div id="card-element" class="col-6 text-start align-self-center">
							<h1>{{Ad.title}}</h1>
							<h3>{{Ad.latinName}}</h3>
							<p>Bid placed {{date}}</p>
						</div>

						<div id="card-element" class="col-auto text-center align-self-end">
							<button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
								data-bs-target="#bid{{bidID}}Info" aria-expanded="false"
								aria-controls="collapseExample">
								Show my offer <i class="bi bi-caret-down"></i>
							</button>
						</div>

					</div>
				</div>
			</div>


			<div class="collapse" id="bid{{bidID}}Info">
				<div class="card card-body">
					<div class="row">

						<div class="col-8 text-start">
							<p>{{message}}</p>
						</div>

						<div class="col-4 text-center">
							<div class="col-12">
								<img src="/images/{{imagePath}}" class="img-card">
							</div>
						</div>

					</div>
				</div>
			</div>

			{{/each}}

			{{else}}
			<p>No, that bid doesn't exist here.</p>
			{{/if}}

			{{/if}}
		</div>


		<!-- declined bids -->
		<div class="tab-pane fade" id="nav-declined-bids" role="tabpanel" aria-labelledby="nav-declined-bids-tab">

			{{#if errors.length}}
			<p>Oh no, something went wrong:</p>
			<ul>
				{{#each errors}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
			{{else}}

			{{#if bidDeclined}}
			{{#each bidDeclined}}

			<div class="card">
				<div class="card-body">
					<div class="row justify-content-between">

						<div id="card-element" class="col-auto text-center">
							<img class="img-card" src="/images/{{Ad.ImageBundle.coverImagePath}}">
						</div>

						<div id="card-element" class="col-6 text-start align-self-center">
							<h1>{{Ad.title}}</h1>
							<h3>{{Ad.latinName}}</h3>
							<p>Bid placed {{date}}</p>
						</div>

						<div id="card-element" class="col-auto text-center align-self-end">
							<button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
								data-bs-target="#bid{{id}}Info" aria-expanded="false" aria-controls="collapseExample">
								my offer <i class="bi bi-caret-down"></i>
							</button>
						</div>

					</div>
				</div>
			</div>


			<div class="collapse" id="bid{{id}}Info">
				<div class="card card-body">

					<div class="row">
						<div class="col-8 text-start">
							<p>{{message}}</p>
						</div>

						<div class="col-4 text-center">
							<div class="col-12">
								<img src="/images/{{imagePath}}" class="flowerImage"
									style="width: 400px; height: 400px">
							</div>
						</div>
					</div>

					<div class="col-12 text-center">
						<form action="/bids/{{id}}/delete" method="POST">
						 	<input type="hidden" name="_csrf" value="{{csrfToken}}">
							<input type="hidden" name="bidID" value="{{id}}">
							<button type="submit" class="btn btn-outline-danger">
								Delete
							</button>
						</form>
					</div>

				</div>
			</div>

			{{/each}}

			{{else}}
			<p>No, that bid doesn't exist here.</p>
			{{/if}}

			{{/if}}
		</div>

	</div>


</div>