<!-- My Ads -->
<!-- tab navigation -->
<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-manage-ads-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-ads"
			type="button" role="tab" aria-controls="nav-manage-ads" aria-selected="true">
			Manage My Ads
		</button>

		<button class="nav-link" id="nav-ad-offers-tab" data-bs-toggle="tab" data-bs-target="#nav-ad-offers"
			type="button" role="tab" aria-controls="nav-ad-offers" aria-selected="false">
			My Ad Offers
		</button>

		<button class="nav-link" id="nav-closed-ads-tab" data-bs-toggle="tab" data-bs-target="#nav-closed-ads"
			type="button" role="tab" aria-controls="nav-closed-ads" aria-selected="false">
			My Closed Ads
		</button>
	</div>
</nav>


<!-- navigation content -->
<div class="tab-content" id="nav-tabContent">

	<!-- Manage My Ads -->
	<div class="tab-pane fade show active" id="nav-manage-ads" role="tabpanel" aria-labelledby="nav-manage-ads-tab">

		<div class="row my-5">
			<div class="col-4 text-start d-grid gap-2">
				<a href="/ads/ad-create"><button type="button" class="btn btn-lg btn-outline-dark">Create new
						ad</button></a>
			</div>
			<div class="col-auto"></div>
		</div>

		{{#if errors.length}}
		<p class="text-center">Oh no, something went wrong:</p>

		<ul>
			{{#each errors}}
			<li>{{this}}</li>
			{{/each}}
		</ul>

		{{else}}
		{{#if Ad}}

		<div class="row justify-content-start align-items-center">
			{{#each Ad}}
			<div id="ad" class="col-3 text-center">

				<div class="col-12">
					<h3>{{title}}
						{{#if isClosed}}
						(Closed)
						{{/if}}
					</h3>
				</div>

				<div class="col-12">
					<img class="img-thumbnail" src="/images/{{ImageBundle.coverImagePath}}" class="flowerImage">
				</div>

				<div class="col-12 mt-2 mb-5">
					<div class="row justify-content-center">
						<div class="col-auto mx-1">
							<a class="btn btn-outline-dark m-1" href="/ads/ad-details/{{id}}">Update</a>
						</div>
						<div class="col-auto mx-1">
							<a class="btn btn-outline-danger m-1" href="/ads/confirm-delete/{{id}}">Delete</a>
						</div>
					</div>
				</div>

			</div>
			{{/each}}
		</div>

		{{else}}
		<div class="col-12 text-center">
			<p>No, your ads doesn't exist.</p>
		</div>
		{{/if}}
		{{/if}}
	</div>


	<!-- My Ad Offers -->
	<div class="tab-pane fade" id="nav-ad-offers" role="tabpanel" aria-labelledby="nav-ad-offers-tab">
		<div class="row">
			<div class="col-12">

				<div class="card card-body">

					{{#if errors.length}}
					<p class="text-center">Oh no, something went wrong:</p>

					<ul>
						{{#each errors}}
						<li>{{this}}</li>
						{{/each}}
					</ul>

					{{else}}
					{{#if Ad}}
					{{#each Ad}}
					{{#unless isClosed}}

					<div class="card">
						<div class="card-body">
							<div class="row justify-content-between">

								<div id="card-element" class="col-auto text-center">
									<img class="img-card" src="/images/{{ImageBundle.coverImagePath}}">
								</div>

								<div id="card-element" class="col-6 text-start align-self-center">
									<h1>{{title}}</h1>
								</div>

								<div class="col-auto text-center align-self-end">
									<button id="card-element" class="btn btn-outline-dark my-2" type="button"
										data-bs-toggle="collapse" data-bs-target="#id{{id}}ad" aria-expanded="false"
										aria-controls="collapseExample">
										Show offers <i class="bi bi-caret-down"></i>
									</button>
								</div>

							</div>
						</div>
					</div>

					<hr>

					<div class="collapse" id="id{{id}}ad">
						<div class="card card-body">
							{{#each this.bids}}

							<div class="row justify-content-between mb-2">
								<div class="col-6 text-start align-self-start">
									<h3>By {{User.firstName}} {{User.lastName}}</h3>
									<p>Contact: {{User.email}}</p>
									<p>Placed: {{datePosted}}</p>
									<p class="mt-2">Message: {{message}}</p>
								</div>

								<div class="col-auto text-center align-self-end">
									<img class="img-thumbnail" src="/images/{{imagePath}}" alt="imageToID{{adID}}">
								</div>
							</div>

							<!-- Modal Buttons -->
							<div class="col-12 text-center">
								<button class="btn btn-outline-danger m-1" data-bs-toggle="modal"
									data-bs-target="#declineBidID{{id}}Modal">Decline</button>
								<button class="btn btn-outline-dark m-1" data-bs-toggle="modal"
									data-bs-target="#acceptBidID{{id}}Modal">Accept</button>
							</div>
							<hr>

							<!-- Accept Bid Modal -->
							<div class="modal fade" id="acceptBidID{{id}}Modal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">

										<div class="modal-header">
											<h3 class="modal-title" id="exampleModalLabel">Accept bid for
												"{{../title}}?"</h3>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>

										<form action="/bids/{{id}}/status/Accepted/update" method="POST"
											encType="multipart/form-data">
											<input type="hidden" name="_csrf" value="{{../../csrfToken}}">

											<div class="modal-body">

												<input type="hidden" name="adID" value="{{../id}}">


												<div class="mb-0">
													<h5>Press confirm if you ACCEPT following bid placed by
														{{User.firstName}} {{User.lastName}}.</h5>
												</div>

												<div class="mb-0">
													<img class="img-thumbnail" src="/images/{{imagePath}}"
														alt="imageToID{{id}}" style="width: 400px; height: 400px">
												</div>
												<p class="mt-2">Message: {{message}}</p>

											</div>

											<div class="modal-footer">
												<button type="submit" class="btn btn-outline-success">confirm</button>
											</div>
										</form>

									</div>
								</div>
							</div>

							<!-- Decline Bid Modal -->
							<div class="modal fade" id="declineBidID{{id}}Modal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">

										<div class="modal-header">
											<h3 class="modal-title" id="exampleModalLabel">Decline bid for
												"{{../title}}?"</h3>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>

										<form action="/bids/{{id}}/status/Declined/update" method="POST"
											encType="multipart/form-data">

											<input type="hidden" name="_csrf" value="{{../../csrfToken}}">
											<div class="modal-body">

												<input type="hidden" name="adID" value="{{../id}}">


												<div class="col-12 mb-0">
													<h5>Press confirm if you DECLINE following bid placed by
														{{User.firstName}} {{User.lastName}}.</h5>
												</div>

												<div class="col-auto mt-2 align-self-center text-center">
													<img class="img-thumbnail" src="/images/{{imagePath}}">
												</div>

											</div>

											<div class="modal-footer">
												<button type="submit" class="btn btn-outline-dark">confirm</button>
											</div>
										</form>

									</div>
								</div>
							</div>
							{{/each}}
						</div>
					</div>

					{{/unless}}
					{{/each}}
					{{else}}
					<div class="col-12 text-center">
						<p>No, your ads doesn't exist.</p>
					</div>
					{{/if}}
					{{/if}}
				</div>


			</div>
		</div>
	</div>

	<!-- My Closed Ads -->
	<div class="tab-pane fade card card-body" id="nav-closed-ads" role="tabpanel" aria-labelledby="nav-closed-ads-tab">
		<div class="row justify-content-start">
			{{#if adAccepted}}
			{{#each adAccepted}}

			<div class="card">
				<div class="card-body">

					<div class="row justify-content-between">

						<div id="card-element" class="col-auto text-center">
							<img class="img-card" src="/images/{{ImageBundle.coverImagePath}}">
						</div>

						<div id="card-element" class="col-6 text-start align-self-center">
							<h1>{{title}}</h1>
						</div>

						<div class="col-auto text-center align-self-end">
							<button id="card-element" class="btn btn-outline-dark my-2" type="button"
								data-bs-toggle="collapse" data-bs-target="#id{{id}}ad" aria-expanded="false"
								aria-controls="collapseExample">
								Show offers <i class="bi bi-caret-down"></i>
							</button>
						</div>

					</div>

				</div>
			</div>

			<div class="collapse" id="id{{id}}ad">
				<div class="card card-body">

					<div class="row justify-content-between mb-2">
						<div class="col-6 text-start align-self-start">
							<h3>Winning bid by {{Bids.User.firstName}} {{Bids.User.lastName}}</h3>
							<p>Contact for swap: {{Bids.User.email}}</p>
							<p class="mt-2">{{Bids.message}}</p>
						</div>

						<div class="col-auto text-center align-self-end">
							<img class="img-thumbnail" src="/images/{{Bids.imagePath}}" alt="imageToID{{adID}}">
						</div>
					</div>

				</div>
			</div>
			{{/each}}
		</div>
	</div>

	{{else}}
	<div class="col-12 text-center">
		<p>Couldn't load.</p>
	</div>
	{{/if}}

</div>