<div class="container">

    <!-- Lägg till
1. Inputs med all personal data ifylld
2. Man ska kunna ändra inputen för att uppdatera det
3. En knapp som uppdaterar inputen

--------------------------------------------------

data som ska hämtas från db:
1. User
2.  ?
-->

    {{#if errors.length}}
    <p>Oh no, something went wrong:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{else}}

    {{#if User}}

    <div class="row">
        <div class="col-sm-4 offset-sm-4 text-center">
            <h1 class="display-3">Personal Data</h1>
            <div>
                <form class="form-inline justify-content-center" action="/personalData/{{User.userID}}/update"
                    method="POST">
                    <!--<input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="firstname" value="{{User.firstName}}">
                        <label class="form-label">Firstname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="lastname" value="{{User.lastName}}">
                        <label class="form-label">Lastname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" name="email" value="{{User.email}}">
                        <label class="form-label">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="phonenumber" value="{{User.phoneNumber}}">
                        <label class="form-label">Phonenumber</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="city" value="{{User.city}}">
                        <label class="form-label">City</label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    {{else}}
    <p>No, that user doesn't exist here.</p>
    {{/if}}

    {{/if}}
</div>