<div class="content">
<h1>Account</h1>
{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{else}}
	
	{{#if account}}
		<dl>
			
			<dt>Id:</dt>
			<dd>{{account.userAccountID}}</dd>
			
			<dt>Username:</dt>
			<dd>{{account.username}}</dd>

			<dt>Password:</dt>
			<dd>{{account.passwordHash}}</dd>

			<dt>UserAccountID:</dt>
			<dd>{{user.userAcccountID}}</dd>

			<dt>Firstname:</dt>
			<dd>{{user.firstname}}</dd>

			<dt>Lastname:</dt>
			<dd>{{user.lastname}}</dd>

			<dt>email:</dt>
			<dd>{{user.email}}</dd>

			<dt>Phonenumber:</dt>
			<dd>{{user.phoneNumber}}</dd>

			<dt>City:</dt>
			<dd>{{user.city}}</dd>

			
		</dl>
	{{else}}
		<p>No, that account doesn't exist.</p>
	{{/if}}
	
{{/if}}
</div>